
<!--<p>{{ getCurrentUser.firstName }} {{ getCurrentUser.lastName }}</p>-->



<ul class="collection">
    <li class="collection-item">
       
            <img class="circle" style="margin-left: 40%;" src="images/jen.png" width="80" height="80"/>
            <!--  <p class="title">Wissile Sogoyou<p>wissile@hootparking.com</p>-->
            <div class="title" style="display: flex; justify-content: center;" > {{getCurrentUser.name}} </div>
          <div style="margin-left: 23%;"> 
            <a ui-sref="edit-account" style ="float:left;">EDIT ACCOUNT</a>  
            <p id="circle" style="float:left; margin-left:3%; margin-top: 1%;"></p> 
            <a style="cursor: pointer; margin-right: 40%; float:right;" ng-click="logout();">SIGN OUT</a> 
            <!--<a ui-sref="edit-account" class="btn-floating btn-large waves-effect waves-light blue right"><span class="glyphicon glyphicon-pencil"></span></a>--> 
        </div> 
        <br />
        <h5>Personal Info</h5>
        <span class="glyphicon glyphicon-earphone sHeight"></span> 872-216-0525<br/>
        <span class="glyphicon glyphicon-check sHeight"></span>{{getCurrentUser.email}}
    </li>

    <li class="collection-item">
         <h5>Places</h5>
           <div style="display: -moz-inline-box; width: -moz-available;">
             <span class="glyphicon glyphicon-star sHeight" ></span>
             <ul>
            <li><b> Home</b></li>
            <li>811 Stiggins ave, San Francisco, CA</li>
            </ul>
           </div>

           <div style="display: -moz-inline-box; width: -moz-available;">
             <span class="glyphicon glyphicon-check sHeight" ></span> 
             <ul>
            <li><b> Work</b>
            <li>917 2nd street, Oakland, CA </li>   
            </ul>
           </div>
    </li>

     <li class="collection-item">
         <h5>Connected Account</h5>
            <p ng-click="fbLoginUser();" ng-if="getCurrentUser.userType!='Facebook' && !getCurrentUser.facebook.id "><span class="glyphicon glyphicon-bookmark sHeight"></span>LINK FACEBOOK {{getCurrentUser.userType}} </p> 
             <p ng-click="UserOfFacebook(getCurrentUser,id);"ng-if="getCurrentUser.userType=='Facebook'"><span class="glyphicon glyphicon-bookmark sHeight"></span>FACEBOOK <a style="color:Blue;">{{getCurrentUser.name}}</a> </p> 
              <p ng-click="UserOfFacebook(getCurrentUser.facebook.id);"ng-if="!getCurrentUser.userType && getCurrentUser.facebook.id"><span class="glyphicon glyphicon-bookmark sHeight"></span>FACEBOOK <a style="color:Blue;">{{getCurrentUser.facebook.name}}</a> </p>             
            <div>
               <input style="height: 50px; width: 400px;border:none;background-color:gray; color:White; font-size:18px" type="button" class="getpark" value="ACCOUNT SUMMARY"/>
            </div>
    </li>
    
</ul>



  <!--  <div class="collection with-header">
        <div class="collection-header"><h5>Share</h5></div>
        <a href="#!" class="collection-item">Like us on Facebook</a>
        <a href="#!" class="collection-item">Rate us in the App Store</a>
        <a href="#!" class="collection-item">Share on Twitter</a>
    </div>

    <div class="collection with-header">
        <div class="collection-header"><h5>Help & Feedback</h5></div>
        <a href="#!" class="collection-item">Help</a>
        <a href="#!" class="collection-item">Send feedback</a>
        <a href="#!" class="collection-item">Hootparking.com</a>
    </div>

    <div class="collection with-header">
        <div class="collection-header"><h5>Legal</h5></div>
        <a href="#!" class="collection-item">Terms of service</a>
        <a href="#!" class="collection-item">Privacy policy</a>
        <a href="#!" class="collection-item">Version</a>
        <a href="#!" class="collection-item">Usage policy</a>
    </div>-->











