
<!--<p>{{ getCurrentUser.firstName }} {{ getCurrentUser.lastName }}</p>-->



<ul class="collection">
    <li class="collection-item">
        <img class="circle" src="images/jen.png" width="60" height="60"/>
        <p class="title">Wissile Sogoyou<p>wissile@hootparking.com</p></p>
        <a ui-sref="edit-account" class="btn-floating btn-large waves-effect waves-light blue right"><span class="glyphicon glyphicon-pencil"></span></a>
    </li>
    <li class="collection-item">
        <span class="glyphicon glyphicon-phone-alt"></span> 872-216-0525
        <p> <span class="glyphicon glyphicon-home"></span> 811 Stiggins ave, San Francisco, CA <br>
            <span class="glyphicon glyphicon-briefcase"></span> 917 2nd street, Oakland, CA
        </p>
    </li>
</ul>

    <div class="collection with-header">
        <div class="collection-header"><h5>Share</h5></div>
        <a href="#!" class="collection-item">Like us on Facebook</a>
        <a href="#!" class="collection-item">Rate us in the App Store</a>
        <a href="#!" class="collection-item">Share on Twitter</a>
    </div>

    <div class="collection with-header">
        <div class="collection-header"><h5>Help & Feedback</h5></div>
        <a href="#!" class="collection-item">Help</a>
        <a href="#!" class="collection-item">Send feedback</a>
        <a href="#!" class="collection-item">Hootparking.com</a>
    </div>

    <div class="collection with-header">
        <div class="collection-header"><h5>Legal</h5></div>
        <a href="#!" class="collection-item">Terms of service</a>
        <a href="#!" class="collection-item">Privacy policy</a>
        <a href="#!" class="collection-item">Version</a>
        <a href="#!" class="collection-item">Usage policy</a>
    </div>











