<div class="collection with-header">
        <div class="collection-header"><h5>Help & Feedback</h5></div>
        <a href="#!" class="collection-item">Help</a>
        <a href="#!" class="collection-item">Send feedback</a>
        <a href="#!" class="collection-item">Hootparking.com</a>
</div>
<div class="collection with-header">
        <div class="collection-header"><h5>Legal</h5></div>
        <a href="#!" class="collection-item">Terms of service</a>
        <a href="#!" class="collection-item">Privacy policy</a>
        <a href="#!" class="collection-item">Version</a>
        <a href="#!" class="collection-item">Usage policy</a>
    </div>
