<div class="guide red">

  <div class="guide-content">
    <img class="animated bounceInLeft" ng-src="images/find-guide.png" width="200"/>
    <div class="guide-description animated bounceInRight">
      <h3>Find your car</h3>
      Hootparking will help you find where you parked your car and tell you how long it take you to get there soyou can plan ahaead.
    </div>
  </div>

  <div class="guide-control red">
    <ul>
      <li><a ui-sref="home">SKIP</a></li>
      <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
      <li><a ui-sref="home"><span class="glyphicon glyphicon-menu-right"></span></a></li>
    </ul>
  </div>

</div>
