<div style="background: #2A2C3B">
    <div style="margin-left: 42%;">
    </div>
    <form class="form" name="form" ng-submit="forgetPassword(form)" novalidate>
    </br> </br>
    <input id="inputName" class="register" type="text" name="email" ng-model="Email"
        placeholder="Enter email" required />
    <div align="center">
        <span ng-show="emailSuccessShow" style="color: #f25d59">{{emailSuccess}} <a ui-sref="login">
            Login</a> <span ng-show="errMessageShow" style="color: #f25d59">{{errMessage}}</span></span>
    </div>
    <div align="center">
        <!--<input type="submit" class="getpark"  />-->
        <input type="submit" class="getpark regtext" style="border: none !important; font-size: 17px;
            width: 22%; cursor: pointer; color: #f25d59;" tabindex="0" value="Submit">
    </div>
    <div class="altsign">
        Don't have an account, please <a ui-sref="signup">Sign up</a></div>
    </form>
</div>
