<div id="geolocate">

  <div ng-app="easyparkangularApp" ng-controller="MainCtrl">

      <form ng-submit="calcRoute()" id="calc-route-form">
        <div class="home-search">
          <input id="Autocomplete" type="text" placeholder="Search for name or address..."
                 ng-autocomplete="result" details="details" options="options"/>
          <span class="glyphicon glyphicon-search"></span>
        </div><!-- end home-search -->
        <div ng-include src="'views/parkingspotslist.html'"></div>



       <div class="home-footer">
        <div class="address-container">
          <div class="home-address-title"><span class="glyphicon glyphicon-map-marker"></span> Your location</div>
          <span id="address">{{formattedAddress}}</span>
          <span id="error">{{addressError}}</span>
        </div><!-- end address container -->
        <!--<input type="submit" class="getpark waves-effect" value="Search Parking"/>-->
           <button type="submit" class="getpark waves-effect">Search Barbara</button>
       </div>


      </form>

</div>
</div>
<div id="map-canvas"></div>
<div id="directions"></div>


