<div id="geolocate">
  <ul id="geosection">
    <li class="geosecline">
      <p class="test"><img ng-src="images/geodistrict.png"/></p>

      <p class="test" id="address">{{formattedAddress}}</p>

      <p class="sectionline">Your location</p>
    </li>
    <li class="geosecline">
      <form ng-submit="calcRoute()">
        <input id="Autocomplete" type="text" placeholder="Enter name or address..."
               ng-autocomplete="result" details="details" options="options"/>

        <p><input type="submit" class="getpark" value="Search Parking"/></p>
      </form>
      <p>

      <p id="error">{{addressError}}</p>

      <div ng-include src="'views/parkingspotslist.html'"></div>
    </li>
  </ul>

</div>
<div id="map-canvas"></div>



