<div style="background: #2A2C3B">
    <div id="profile-intro">
        <div id="circle" style="margin-left: 42%; border: solid; background: none; border-color: #f25d59;
            width: 72px; height: 66px; border-width: thin;    border-radius: 35px;">
            <div>
                <div>
                    <p>
                        <img src="/images/logoicon.png" style="height: 57%; width: 78%; margin-top: 7%;"></p>
                </div>
            </div>
        </div>
        <p>
            Your profile</p>
    </div>
    <form class="form" name="form" ng-submit="login(form)" novalidate>
    <input id="inputName" class="register" type="text" name="email" ng-model="user.email"
        placeholder="Enter email" required />
    <input id="inputName" class="register" type="password" name="password" ng-model="user.password"
        placeholder="Enter password" required />
    <br />
   
    <span style="margin-left: 30%; color: #f25d59;" class="errMessage" ng-show="compulsaryfield">All fields
        are required.</span>
         <span ng-show="errMessage" style="margin-left: 30%;; color: #f25d59;" class="errMessage" ng-show="compulsaryfield">{{errors.other}}</span> 
        
    <div style="margin-left: 34%;">
        <p>
        <input type="submit" class=" getpark regtext" style = "width:40%;color: #f25d59;font-size:large; 
" value="Sign in"/>
            
          
            
           
    </div>
    <input type="text"  ui-sref="forgetPassword" class=" getpark regtext" style = "width:40%;border:none;font-size:small;margin-left: 34%;color: #f25d59; 
" value="Forget Password"/>
    <div class="altsign">
        Don't have an account, please <a ui-sref="signup" style="cursor:pointer;">Sign up</a></div>
    </form>
</div>
