<div class="guide red">

  <div class="guide-content">
    <img class="animated bounceInLeft" ng-src="images/find-guide.png" width="200"/>
    <div class="guide-description animated bounceInRight">
      <h3>Welcome to hoot Community</h3>
      Hootparking will track parking activities to help you save time and money
    </div>
  </div>

  <div class="guide-control red">
    <ul>
      <li><a ui-sref="home">START</a></li>
      <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
      <li><a ui-sref="home">COMPLETE</li>
    </ul>
  </div>

</div>
