
<div class="card">
<ul class="account-setting-list">
    <li><h5>General</h5></li>
    <li><div class="switch-label">Parking sweeping</div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </li>
    <li><div class="switch-label">Parking cleaning</div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </li>
    <li><div class="switch-label">Move car</div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </li>
</ul>
</div>


<div class="card">
<ul class="account-setting-list">
    <li><h5>Time & Budget</h5></li>
    <li><div class="switch-label">Reached max budget</div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </li>
    <li><div class="switch-label">Parking fare change</div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </li>
    <li><div class="switch-label">Parking time</div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </li>

    <li><div class="switch-label">Set spending budget</div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </li>
</ul>
    </div>



