<div style="background-color:#ede9e9">
<ul class="account-setting-list">
    <li><h5><span class="glyphicon glyphicon-bell"></span> General</h5></li>
    <li><div class="switch-label">Parking sweeping
        <p>Get reminded when its time to sweep your car</p>
    </div>
        <!-- Switch -->
        <div class="switch">
            <label>
                <input type="checkbox" ng-model="notificationSetting.ParkingSweeping" ng-change="NotificationEvent(notificationSetting.ParkingSweeping,'ParkingSweeping')">
                <span class="lever"></span>
            </label>
        </div>
    </li>
    <li><div class="switch-label">Parking cleaning
        <p>Get reminded the time your car is located in a cleaning zone</p>
    </div>
        <!-- Switch -->
        <div class="switch">
            <label>
                <input type="checkbox" ng-model="notificationSetting.ParkingClean" ng-change="NotificationEvent(notificationSetting.ParkingClean,'ParkingClean')">
                <span class="lever"></span>
            </label>
        </div>
    </li>
    <li><div class="switch-label">Parking time limit
        <p>Get notified when your parking spot has reached time limit</p>
    </div>
        <!-- Switch -->
        <div class="switch">
            <label>
                <input type="checkbox" ng-model="notificationSetting.TimeLimit" ng-change="NotificationEvent(notificationSetting.TimeLimit,'TimeLimit')">
                <span class="lever"></span>
            </label>
        </div>
    </li>
</ul>


<div class="collection with-header">
    <div class="collection-header"><h5><span class="glyphicon glyphicon-cog"></span> Settings</h5></div>
    <a ng-click="ShowSpendingBudget();" class="collection-item"><span class="glyphicon glyphicon-plus"></span>Set spending budget</a>
     <div  id="SpendingBudget" style="display: none" >
        <input type="text"  />
        <button  ng-click="SaveSpendingBudget();"  id="Button2">
            Save</button>
    </div>
    <a ng-click="ShowReminder();" class="collection-item"><span class="glyphicon glyphicon-plus"></span>Set parking time reminder</a>
    <div id="SpendingReminder" style="display: none" >
        <input type="text"  ng-model="" />
        <input type="text"  ng-model="" />
          <button  ng-click="ToggleTime();" value="AM"  id="Button3" />
            <br />
        <button  ng-click="SaveParkingReminder();"  id="Button1">
            Save</button>
    </div>
</div>

<ul class="account-setting-list">
    <li><h5><span class="glyphicon glyphicon-time"></span> Time & Budget</h5></li>
    <li><div class="switch-label">Reached max budget
        <p>Get notified you maxium budget has been reached</p>
    </div>
        <!-- Switch -->
        <div class="switch">
            <label>
            
                <input type="checkbox" ng-model="notificationSetting.ReachedBudget" ng-change="NotificationEvent(notificationSetting.ReachedBudget,'ReachedBudget')">
                <span class="lever"></span>
            </label>
        </div>
    </li>
    <li><div class="switch-label">Parking fare change
        <p>Get notified at the moment your parking fare is about to change</p>
    </div>
        <!-- Switch -->
        <div class="switch">
            <label>
                <input type="checkbox" ng-model="notificationSetting.ParkingFareChange" ng-change="NotificationEvent(notificationSetting.ParkingFareChange,'ParkingFareChange')">
                <span class="lever"></span>
            </label>
        </div>
    </li>
    <li><div class="switch-label">Parking time
        <p>Get regular notifications about time at your parking spot</p>
    </div>
        <!-- Switch -->
        <div class="switch">
            <label>
                <input type="checkbox" ng-model="notificationSetting.ParkingTime" ng-change="NotificationEvent(notificationSetting.ParkingTime,'ParkingTime')">
                <span class="lever"></span>
            </label>
        </div>
    </li>
</ul>
</div>

