<div class="guide purple">

  <div class="guide-content">
    <img class="animated bounceInLeft" ng-src="images/notification-guide.png" width="200"/>
    <div class="guide-description animated bounceInRight">
      <h3>Get notified</h3>
      Hootparking will notify when its time to move your car to avoid you getting a ticket according to your city rules.
    </div>
  </div>

  <div class="guide-control purple">
    <ul>
      <li><a ui-sref="home">SKIP</a></li>
      <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
      <li><a ui-sref="guide5"><span class="glyphicon glyphicon-menu-right"></span></a></li>
    </ul>
  </div>

</div>
