<div class="guide green">

  <div class="guide-content">
    <img class="animated bounceInLeft" ng-src="images/save-guide.png" width="200"/>
    <div class="guide-description animated bounceInRight">
      <h3>Save on everything</h3>
      Hootparking will find the closest and cheapest place to park your car, so you focus to get on time to your destination
    </div>
  </div>

  <div class="guide-control green">
    <ul>
      <li><a ui-sref="home">SKIP</a></li>
      <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
      <li><a ui-sref="guide3"><span class="glyphicon glyphicon-menu-right"></span></a></li>
    </ul>
  </div>

</div>
