<div class="guide blue">

  <div class="guide-content">
    <img class="animated bounceInLeft" ng-src="images/search-guide.png" width="200"/>
    <div class="guide-description animated bounceInRight">
      <h3>Search destination</h3>
      Simply type the destination of the meeting, conference you are wanting to go to.
    </div>
  </div>

  <div class="guide-control blue">
    <ul>
      <li><a ui-sref="home">SKIP</a></li>
      <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
      <li><a ui-sref="guide2"><span class="glyphicon glyphicon-menu-right"></span></a></li>
    </ul>
  </div>

</div>
