<div  style="background: #2A2C3B">
  <div id="profile-intro" ">
        <p>
            <img src="images/profile.png" /></p>
        <font style="color: White">Set up your account</font>
        <p style="text-align: center; color: Maroon; font-size: 16px; margin: 5px">
            ion of letters, as opposed to using Cotents here,</p>
        <p style="text-align: center; color: Maroon; font-size: 16px; margin: 5px">
            content here', making it loo
        </p>
</div>
  <form class="form" name="form" ng-submit="register(form)" novalidate>
    <ul id="registerlist">
      <li class="name">
        <input class="register" type="text" placeholder="First name" ng-model="user.name"
               required/>
      </li>     
      <!--<li class="name">
        <input class="register" type="text" placeholder="Last name" ng-model="user.lastName"
               required/>
      </li>-->
      <li>
        <input class="register" type="text" placeholder="Enter email" ng-model="user.email"
               required/>
      </li>
      <li>
        <input class="register" type="password" name="pwd" placeholder="Enter password" ng-model="user.password"
               ng-minlength="3"
               required/>
              
        <p><input type="submit" class=" main-nav-name1 orange-text getpark" value="Register"/>
        
        <a class="main-nav-name1 orange-text "
                        ng-click="facebookLogin();">FACEBOOK</a>
                        </p>

        
                     

         </li>

         <li><br /> <div class="altsign">
            <p class="" style="color: White">
                <span class="main-nav-name1">Already a hooter</span>
                <!-- </div>
            <div class="" style="text-align: right">-->
                <span class="main-nav-name1" style="text-align: right" ui-sref="login">SKIP ></span>
            </p></div>
            <!--for div class="altsign"-->
        </li>


             
    </ul>
  </form>
</div>
