<div align="center">
<ul>

<li><img src="../images/logoicon.png" style="height:40%; width:20%;"/></li><!--<img src="../images/easypark-23.jpg" />-->
<li><span style="color:#f25d59;font-size:large;">hootParking</span></li>
<br />
<li><span style="font-size:larger;">Usage</span>&nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> &nbsp;<span style="font-size:larger;">28h46</span></li>
</ul>
</div>
<br />
<div>
<table>
<tr style="border-bottom:3px ridge;">
<td style="border-right:3px ridge;">
<div align="center">
<ul>
<li><span style="color:Green;font-size:370%;" class="glyphicon glyphicon-usd"></span></li><!-- <span style="color:#f25d59;font-size:450%;" class="glyphicon glyphicon-usd"/>-->
<li></li>
<li><span style="color:green;font-size:large;">$</span>&nbsp;<span style="font-size:240%;color:green;">54</span></li>
<li><span style="font-size:larger;">Money Saved</span></li>
</ul>
</div>
</td>
<td>
<div align="center">

<ul>
<li><span style="color:#f25d59;font-size:370%;" class="glyphicon glyphicon-usd"/></li>
<li><span style="font-size:large;color:#f25d59;">$</span>&nbsp;<span style="font-size:240%;color:#f25d59;">233</span></li>
<li><span style="font-size:larger;">Total Spent</span></li>
</ul>
</div>
</td>
</tr>
<tr>
<td style="border-right:3px ridge;">
<div align="center">
<ul>
<li><span class="glyphicon glyphicon-heart-empty" style="color:pink;font-size:370%;"></span></li>
<li><span style="font-size:240%;color:pink;">193</span>&nbsp;<span style="color:pink; font-size:large;">min</span></li>
<li><span style="font-size:normal;">Total Walk Time</span></li>
</ul>
</div>
</td>
<td>
<div align="center">
<ul>
<li><span class="glyphicon glyphicon-time" style="color:orange;font-size:370%;"></span></li>
<li><span style="font-size:240%;color:orange;"> 23 </span><span style="font-size:large;color:orange;">min</span></li>
<li><span style="font-size:normal;">Time Saved</span></li>
</ul>
</div>
</td>
</tr>
</table>
</div>

