<div class="terms red">
  <h2>Welcome to hootParking</h2>
  <div class="terms-content">
    <p>ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
    distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    Many desktop publishing packages and web page editors now use Lorem Ipsum as their defaul distribution of letters,
    as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packagr</p>

    <p>ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
    distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    Many desktop publishing</p>

    <p>ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
      more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
      making it look like readable English. Many desktop publishing packages and web page editors now use Lorem
      Ipsum as their default model text, and a search for 'lorem ipsum' will uncover manyor 'lorem ipsum' will uncover many</p>
  </div>
  <div class="guide-control green">
    <ul>
      <li><a ui-sref="quit">CANCEL</a></li>
      <li><a ui-sref="register">ACCEPT</a></li>
    </ul>
  </div>
</div>
