<div class="guide orange">

  <div class="guide-content">
    <img class="animated bounceInLeft" ng-src="images/track-guide.png" width="200"/>
    <div class="guide-description animated bounceInRight">
      <h3>Track activities</h3>
      Hootparking will track time and money spent. So you can limit your budget.
    </div>
  </div>

  <div class="guide-control orange">
    <ul>
      <li><a ui-sref="home">SKIP</a></li>
      <li><span class="glyphicon glyphicon-option-horizontal"></span></li>
      <li><a ui-sref="guide4"><span class="glyphicon glyphicon-menu-right"></span></a></li>
    </ul>
  </div>

</div>
