<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>easypark</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="style.css" rel="stylesheet" type="text/css">
		
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
		
	</head>

	<body>


		<div id="container"> <!--Entire view-->

			<div class="header"><!--Title and top navigation-->
				<ul class="header-nav">
					<li><img src="back.png" /> Back</li>
					<li>Find my Car</li>
					<li><img src="info.png" /></li>
				</ul>
			</div><!--end header-->

			<div class="main"><!--main content-->


			</div><!--end main-->

			<div class="footer"><!--icon bottom navigation-->
				<ul class="footer-nav">
					<li><img src="park.png" /><p>Parking</p></li>
					<li><img src="car.png" /><p>Find Car</p></li>
					<li><img src="account.png" /><p>Account</p></li>
				</ul>
			</div><!--end footer-->

		</div><!--end container-->
	</body>
</html>