


        <ul id="carinfo">
          <p></p>
          <li><img src="images/walk.png"/><p>Park Home</p></li><!--home address-->
          <li>|</li>
          <li><img src="images/time.png"/><p>Park Work</p></li><!--work address-->
        </ul>

        <ul id="carinfo">
          <p></p>
          <li><img src="images/walk.png"/>12h19<p>Total parking time</p></li><!--parking staying time-->
          <li>|</li>
          <li><img src="images/time.png"/>432$<p>Money spent</p></li><!--money vs budget-->
          <!--reset parking time goal or parking budget (button)-->
          <!--distance walked & save goal & share -->
          <!--time saved & money saved (div) & share-->
          <!--parking notice-->
          <!--invite friends to join the bigger the community the better for you-->
          <!--customize your search mode for faster result (on & off -- price/distance/rating/faster -- )-->
        </ul>