

				<div id="geolocate">
					<div id="profile-intro"><p><img src="images/profile.png"/></p>Create an account<p>Enjoy benefits that saves you time and money</p></div>
					<ul id="registerlist">
						<li class="name">
							<input class="register" type="text" placeholder="First name"/>
						</li>
						<li class="name">
							<input class="register" type="text" placeholder="Last name"/>
						</li>
						<li>
							<input class="register" type="text" placeholder="Enter email"/>
						</li>
						<li>
							<input class="register" type="password" name="pwd" placeholder="Enter password"/>
							<p><div class="getstats">Sign up</div></p>
						</li>
					</ul>
				</div>

