
<div id="geolocate">
  <div id="profile-intro"><p><img src="images/profile.png"/></p><p>Your parking information</p></div>
  <ul id="geosection">
    <li class="geosecline">
      <p class="test"><img src="images/geodistrict.png"/></p>

      <p class="test" id="address">{{formattedAddress}}</p>

      <p class="sectionline">Your location</p>
    </li>
    <li class="geosecline">
      <p class="test"><img src="images/carloc.png"/></p>

      <p class="test" id="address">845 Pine st, San Francisco, CA 94563</p>

      <p class="sectionline">Car address location</p>


    </li>
  </ul>
  <div id="map-canvas"></div>
</div>

<ul id="carinfo">
  <div ng-controller="CurDateCtrl" id="time"><span>{{date}}</span></div><!--current hour + headline: time-->
  <li><img src="images/walk.png"/>4h27<p>Current time</p></li><!--parking staying time-->
  <li>|</li>
  <li><img src="images/time.png"/>1h16<p>Parking time</p></li><!--arrival time-->
</ul>

<ul id="carinfo">
  <p></p><!--headline: money-->
  <li><img src="images/walk.png"/>12min<p>walking</p></li><!--Price per hour-->
  <li>|</li>
  <li><img src="images/time.png"/>1h16<p>parking time</p></li><!--Money spent-->
</ul>

<ul id="carinfo">
  <p></p><!--Parking sweeping, cleaning, rating, hours and etc info -->
  <li><img src="images/walk.png"/>12min<p>walking</p></li>
  <li>|</li>
  <li><img src="images/time.png"/>1h16<p>parking time</p></li>
</ul>