@import url('http://fonts.googleapis.com/css?family=Lato:100.300,400,700');

@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700');

body {
  font-family: "Roboto", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.guide {
  text-align: center;
  color: #fff;
  clear: both;
  overflow: hidden;
}

.guide.blue {
  background-color: #01afdb;
}

.guide.green {
  background-color: #61af23;
}

.guide.orange {
  background-color: #fea427;
}

.guide.purple {
  background-color: #8d58d3;
}

.guide.red {
  background-color: #f24965;
}

.guide-control.blue {
  border-top: 1px solid #47c8e5;
}

.guide-control.green {
  border-top: 1px solid #80bd4c;
}

.guide-control.orange {
  border-top: 1px solid #feb959;
}

.guide-control.purple {
  border-top: 1px solid #a67cdc;
}

.guide-control.red {
  border-top: 1px solid #f47d97;
}

.guide-content {
  padding: 40px;
}

.guide-description {
  text-align: left;
  margin-top: 50px;
  line-height: 18px;
}

.guide-description h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
}

.guide-control {
  text-align: center;
  height: 100%;
}

.guide-control ul {
  padding: 0;
}



.guide-control ul li {
  display: inline-block;
  padding: 15px 40px 5px 40px;
  text-align: center;
}

.guide-control ul li a {
  color: #fff;
  text-decoration: none;
}

.guide-control ul li span {
  color: #fff;
  font-size: 16px;
}

.guide-control ul li:first-child {
  float: left;
}

.guide-control ul li:last-child {
  float: right;
}

.acc-label {
  width: 100%;
  max-width: 260px;
  height: 25px;
  padding: 0;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.acc-switch {
  width: 100%;
  max-width: 85px;
  text-align: right;
  height: 25px;
  padding: 0;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  vertical-align: top;
}

.add-profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #4a4d59;
  font-size: 14px;
  vertical-align: middle;
  color: #29abe2;
}

.add-profile-photo p {
  margin: 5px 0px 0px 0px;
  padding: 0;
  line-height: 19px;
}

.add-profile-photo span {
  font-size: 28px;
  font-weight: 100;
  padding: 0;
  vertical-align: top;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 25px;
}




.account-sep-line {
  border-bottom: 1px solid #4d5059;
  width: 100%;
}

#container {
  margin: 0 auto;
  max-width: 400px;
}

.main {
  /*margin: 60px 0px 80px 0px;*/
  background-color: transparent;
  width: 100%;
}

.main-nav {
  width: 100%;
  margin:0;
  padding: 0;
}

.main-nav li a {
  padding: 15px 20px;
  display: block;
  border-left: 4px solid transparent;
  color: #a7a9b1;
  font-size: 15px;
}


.main-nav li a:hover {
  border-left: 4px solid #29abe2;
  background-color: #20232e;
  color: #a7a9b1;
  outline: none;

}
  .darkblue {
    background-color: #2b2f3d;
  }

    .main-nav-photo {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      display:inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

        .main-nav-name {
          font-size: 16px;
          color: #a7a9b1;
          display: inline-block;
          vertical-align: middle;
        }

.main-nav-name span {
  display: block;
  color: #636776;
  font-size: 11px;
}
  .sidenav-header {
    background-color: #20232e;
    padding: 20px 20px;
  }

    .header {
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      clear: both;
      background-color: transparent;
    }

.header h2 {
  font-size:18px;
}

.header-items {
  margin:0px 0px 0px 0px;
  padding:0;
}

  .header-items li {
    display: inline-block;
    color: #808080;
    padding:0;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
  }

.main-menu-toggle {
  background-color: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  border: 1px solid transparent;
  padding: 5px 10px;
}

.main-menu-toggle:hover {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.account-photo-container {
  border: 1px solid #4a4d59;
  display: table;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  padding: 10px 10px 8px 8px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.account-photo-container img {
  display: table-cell;
}

.account-user-info-container {

}


.account-user-info-container p {
  color: #a7a9b1;
  font-size: 18px;
  text-align: center;
}

.account-notifications {
  color:#a7a9b1;
  font-size: 16px;
  text-align: center;
  padding:0;
}

/*.account-notifications li {*/
  /*padding: 5px 20px;*/
  /*border-bottom: 1px solid #45474f;*/
  /*clear: both;*/
/*}*/


.account-profile {
  color: #a7a9b1;
  width: 100%;
  margin: 10px 20px;
  padding: 0;
  border: 1px solid red;
}





  .inside-bar {
    position: absolute;
    top:-10px;
    left:-49px;
    font-size: 12px;
    font-weight: 800;
  }

.switch-label {
  max-width: 200px;
  display: inline-block;
  /*float: left;*/
}

.switch-toggle {
  position: absolute;
  display: inline-block;
  right:80px;
}

md-radio-button.md-default-theme .md-container .md-ripple, md-switch.md-default-theme .md-switch-thumb .md-container .md-ripple {
  color: #ff3059; }
md-radio-button.md-default-theme .md-off, md-switch.md-default-theme .md-switch-thumb .md-off {
  border-color: #ff3059; }
md-radio-button.md-default-theme .md-on, md-switch.md-default-theme .md-switch-thumb .md-on {
  background-color: #d9e021; }
md-radio-button.md-default-theme.md-checked .md-off, md-switch.md-default-theme .md-switch-thumb.md-checked .md-off {
  border-color: #d9e021; }
md-radio-button.md-default-theme.md-checked .md-ink-ripple, md-switch.md-default-theme .md-switch-thumb.md-checked .md-ink-ripple {
  color: #d9e021; }

md-switch.md-default-theme .md-switch-bar {
  background-color: #20232e;
  /*border: 1px solid #a7a9b1;*/
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  height: 20px;
  width: 100%;
  max-width: 65px;
  top:0.1em;
  right:0em;
  position: absolute;
}


md-switch.md-default-theme .md-switch-thumb:focus .md-label {
  border: 1px dotted black; }

-radio-button, .md-switch-thumb {
  display: block;
  margin: 15px;
  white-space: nowrap;
  cursor: pointer; }
md-radio-button input, .md-switch-thumb input {
  display: none; }
md-radio-button .md-container, .md-switch-thumb .md-container {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer; }
md-radio-button .md-container .md-ripple-container, .md-switch-thumb .md-container .md-ripple-container {
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  left: -16px;
  top: -16px; }
md-radio-button .md-off, .md-switch-thumb .md-off {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: solid 2px;
  border-radius: 50%;
  -webkit-transition: border-color ease 0.28s;
  transition: border-color ease 0.28s; }
md-radio-button .md-on, .md-switch-thumb .md-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform ease 0.28s;
  transition: transform ease 0.28s;
  -webkit-transform: scale(0);
  transform: scale(0); }
md-radio-button.md-checked .md-on, .md-switch-thumb.md-checked .md-on {
  -webkit-transform: scale(0.55);
  transform: scale(0.55); }
md-radio-button .md-label, .md-switch-thumb .md-label {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  white-space: normal;
  pointer-events: none;
  width: auto; }
md-radio-button .circle, .md-switch-thumb .circle {
  border-radius: 50%; }

md-switch {
  position: relative;
  height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 65px;
  /* used also in _radio-button.scss */ }
md-switch .md-switch-bar {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 32px;
  height: 1px;
  pointer-events: none; }
/*md-switch .md-switch-thumb {*/
  /*position: absolute;*/
  /*margin: 0;*/
  /*left: 100;*/
  /*top: 0;*/
  /*outline: none; }*/
md-switch .md-switch-thumb .md-container {
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
md-switch .md-switch-thumb.md-checked .md-container {
  -webkit-transform: translate3d(48px, 0, 0);
  transform: translate3d(48px, 0, 0); }
md-switch .md-switch-thumb .md-label {
  margin-left: 72px; }

















#geolocate {
  max-width: 400px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.altsign {
  font-style: italic;
  color: #808080;
  margin-top: 5px;
  text-align: center;
}

.address-container {
  height: 35px;
  width: 100%;
  margin: 0;
  display: table;
  padding: 0px 10px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #f1f1f1;
}

.address-container > span {
  font-size: 18px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

#address {
  font-size: 14px;
  width: 94%;
  font-weight: 400;
  color: #4d4d4d;
  white-space: normal;
  margin-left: 10px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.sectionline {
  font-size: 16px;
  font-weight: 100;
  color: #808080;
  margin-left: 36px;
  margin-top: 0;
  padding: 0;
}

#search-zip input {
  border: 1px solid #c6c6c6;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 100;
  padding: 5px 10px;
}

#search-zip p {
  font-size: 16px;
  font-weight: 100;
  text-align: left;
}

.getstats a {
  display: block;
  width: 100%;
  height: 50px;
  padding: 3.5% 0%;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #29A5DC;
  color: #29A5DC;
  font-weight: 800;
  background-color: #fff;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}

.getpark {
  display: block;
  width: 100%;
  height: 35px;
  padding: 1.5% 0%;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid transparent;
  background-color: #f25d59;
  color: #fff;
  font-weight: 800;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}

ul li {
  display: block;
}

input, button {
  outline: 0;
}

.getstats a:hover {
  background-color: #29A5DC;
  color: #fff;
  text-decoration: none;
}

.getpark:hover {
  background-color: #fff;
  color: #f25d59;
  border: 1px solid #f25d59;
  text-decoration: none;
}

/*.header {*/
  /*width: 100%;*/
  /*border-bottom: 1px solid #c6c6c6;*/
  /*color: #808080;*/
  /*padding: 5px 0px;*/
  /*background-color: #fff;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*z-index: 200;*/
/*}*/

/*.header-nav {*/
  /*width: 100%;*/
  /*padding: 0;*/
  /*margin: 10px 0px 0px 0px;*/
/*}*/

/*.header-nav li {*/
  /*display: inline-block;*/
  /*width: 32%;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*text-align: center;*/
  /*vertical-align: top;*/
  /*min-height: 30px;*/
/*}*/

/*.header-nav li a {*/
  /*color: inherit;*/
  /*padding: 10px 20px;*/
  /*cursor: pointer;*/
/*}*/

/*.header-nav li a:hover {*/
  /*text-decoration: none;*/
/*}*/

/*.footer {*/
  /*width: 100%;*/
  /*border-top: 1px solid #c6c6c6;*/
  /*color: #808080;*/
  /*padding: 5px 0px;*/
  /*background-color: #fff;*/
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*z-index: 200;*/
/*}*/

/*.footer-nav {*/
  /*width: 100%;*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*.footer-nav li a:hover {*/
  /*text-decoration: none;*/
/*}*/

/*.footer-nav li {*/
  /*display: inline-block;*/
  /*width: 32%;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*text-align: center;*/
  /*vertical-align: top;*/
  /*min-height: 30px;*/
/*}*/

/*.footer-nav li a {*/
  /*display: block;*/
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*width: 70%;*/
/*}*/

/*.footer-nav li p {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-size: 12px;*/
  /*color: #808080;*/
  /*text-decoration: none;*/
/*}*/

#carinfo {
  width: 80%;
  padding: 0;
  font-size: 38px;
  font-weight: 100;
  color: #808080;
  margin: 0 auto
}

#carinfo li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0;
  vertical-align: top;
}

#carinfo li p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.home-search {
  border: 1px solid #f1f1f1;
  display: table;
  width: 100%;
  padding: 0px 10px 0px 0px;
}

.home-search span {
  font-size: 18px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

#Autocomplete {
  width: 94%;
  height: 35px;
  display: table-cell;
  border: none;
  text-align: left;
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  color: #4d4d4d;
}

#registerlist {
  padding: 0;
  margin: 10px 10px;
}

.name {
  float: left;
  width: 50%;
}

#profile-intro {
  font-size: 28px;
  font-weight: 100;
  color: #808080;
  text-align: center;
  margin-top: 20px;
}

#profile-intro p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#registerlist li {
  margin: 10px 0px;
}

.register {
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 100;
  font-family: "Roboto";
  color: #4d4d4d;
}

.register:focus {
  border-bottom: 1px solid #29A5DC;
}

.list-group {
  z-index: 1;
}

.list-group-item {
  border-left: 4px solid #ffff00;
}

.parking-name {
  font-size: 20px;
  font-weight: 400;
  color: #808080;
  margin-bottom: 10px;
}

.right-data {
  position: absolute;
  right: 0;
  top: 0;
  margin: 6px 6px 0px 0px;
}

.distance {
  display: inline-block;
  font-size: 32px;
  font-weight: 100;
}

.distance span {
  font-size: 18px;
}

.price {
  display: inline-block;
  font-size: 32px;
  margin-right: 5px;
  font-weight: 100;
}

.price span {
  font-size: 18px;
  vertical-align: top;
}

.type {
  color: #808080;
  display: inline-block;
}

.status {
  color: #808080;
  display: inline-block;
  margin-left: 10px;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #f3761c;
  color: #fff;
}


/* -----------------dynamic circle annimation using stylus---------------------------------------*/





